.bg_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    z-index: -1;
}

.image_bg_container {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1%;
    padding-top: 9rem;
}

.container {
    margin: 0 auto;
    height: 45vh;
    width: 70vw;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text_container {
    width: 60vw;
    text-align: center;
    z-index: 10;
}

.judul {
    font-size: 3rem;
    font-weight: bold;
    color: #FFBB68;
    font-family: 'Poppins', sans-serif;
}

.isi {
    font-size: 1.2rem;
    color: #2c2c2c;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.button {
    color: rgb(44, 44, 44);
    margin-top: 2%;
    padding: 10px;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 1rem;
    font-weight: 600;
    border: 3px solid #05308C;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s ease;
    z-index: 10;
    position: relative;
}

.button:hover {
    background-color: #05308C;
    color: white;
}

.button:active {
    background-color: #0a3ca8;
    border: 3px solid #0a3ca8;
}

.image_container {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 100%;
    z-index: 1;
    position: absolute;
}